:root {
    --aqua: rgb(195, 233, 233);
    --grey: rgb(82, 82, 82);
    --navy: rgb(31, 67, 99);
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column; /* stacks elements initially */
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* aligns nav links vertically */

    background-color: var(--grey);
    padding: 10px 30px 10px 0px;
}


/* --------------name wraps when window is large */
.name {
    color: var(--grey);
    background-color: var(--aqua);
    font-size: 40px;
    font-weight: bold;
    width: 35%;
    text-align: right;
    padding-right: 5px;
}

.nav a {
    color: var(--aqua);
    font-weight: bold;
    margin-right: 10px;
    text-decoration-thickness: 2px;
}

/* container holding the main image and img text */
.header-img {
    position: relative;
    margin-bottom: 20px;
}

/* fit image to the window */
.header-img img {
    width: 100%;
}

/* align text to the bottom right of the img */
.img-text {
    display: flex;  /*can't tell if this is working */
    position: absolute;
    bottom: 25px;
    right: 25px;

    font-size: 30px;
    font-weight: bold;
    color: var(--grey);
    background-color: var(--aqua);
    padding: 10px;

  }

.portfolio {
    display: flex;
    flex-wrap: wrap;
   
    color: var(--navy);
    margin: 0px 70px;
    padding-right: 5px;
   
}


.bio, .work, .contact, .resume {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    
}

.port-header {
    /* display:flex; */
    /* flex-wrap: wrap; */
    width: 30%;
    background-color: var(--aqua);
    color: var(--navy);
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    /* text-wrap: wrap; */
    margin-right: 10px;
    padding: 5px 20px 5px 5px;
    border-right: 5px solid var(--grey);
 
    
}


.bio-text, .projects, .contact-info, .res-doc {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    font-size: 20px;
    font-weight: bold;

    /* background-color: rgb(195, 233, 233); */
    /* border-color: black; */
    border-right: 5px solid var(--grey);
    margin-left: 10px;
   
  
}

.bio-text, .contact-info, .res-doc {
    padding: 5px;
    
}


/* DO NOT CHANGE FLEX: AUTO HERE */
.tile-1, .tile-2 {
    display: flex;
    flex: auto;
    border: 5px solid var(--aqua);
    position: relative;
}


/* align text to the bottom right of the big tile */
.tile-text {
   
    flex-wrap: wrap;

    position: absolute;
    bottom: 25px;
    left: 0px;

    font-size: 30px;
    color: var(--grey);
    background-color: var(--aqua);
    padding: 10px;

  }

  h5 {
    font-size: 12px;
    padding-top: 5px;
  }

/* img doesn't fill the whole line */
.tile-1 img { 
    width: 100%;
    /* height: auto; */
    margin-bottom: 5px;
    
}

/* -----------------------ADJUST WIDTH------------------ */
.tile-2 img {
    width: 100%;
   
}

/* -sets grayscale on images until they are hovered on
-transition to full cover upon hover takes 1 second */
.tile-1 img, .tile-2 img {
    /* margin-bottom: 5px; */
    filter: grayscale(60%);
    transition: 0.8s;
}

/* img becomes full color when you hover */
.tile-1 img:hover, .tile-2 img:hover {
    filter: grayscale(0);
}

/* align flex items vertically */
.contact-info, .res-doc {
    align-items: center;
        
}

/* style non-nav links */
.contact-info a, .res-doc a {
    margin-right: 30px;
    color: var(--navy);
    font-weight: bold;
}
.footer {
    width: 100%;
    padding: 30px;
    text-align: center;
    
}

/* stretch project tiles */
/* @media screen and (max-width: 1294px) {
    .tile-2 {
        flex: 4;
    }
  } */



/* stacks elements based on viewport size */
@media screen and (max-width: 960px) {
    .main-header,
    .portfolio {
      flex-direction: column;
      
    }

    .name {
        text-align: center;
    }

    .tile-2 {
        justify-content: center;
    }

    .tile-1 .tile-text {
        bottom: 5%;
        left: 0.5%;
    }
    .tile-text {
        /* position: absolute; */
        bottom: 5%;
        left: 15%;
    }

  }

  
/* wraps letters when the viewing window is very small */
@media screen and (max-width: 652px) {
   
    .name {
        text-align: center;
    }


    .name, .port-header,
    .img-text, .tile-text {
       word-wrap: break-word;
        
    }
/* reducing font size for smaller screens */
    .name, .port-header {
        font-size: 27px;
    }

    .bio-text, .projects, .contact-info, .res-doc {
        font-size: 14px;
    }

    .img-text, .tile-text {
        font-size: 20px;
    }
    h5 {
        font-size: 8px;
    }
  } 

