:root {
    --aqua: rgb(130, 225, 225);
    --grey: rgb(68, 68, 68);
    --navy: rgb(32, 63, 90);
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px 70px;
    display: flex;
    flex-direction: column; /* stacks elements initially */
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* aligns nav links vertically */

    background-color: var(--grey);
    padding: 10px 40px 10px 0px;
}

#name {
    color: var(--grey);
    background-color: var(--aqua);
    font-size: 30px;
    font-weight: bold;
    width: 25%;
    text-align: right;
    padding-right: 5px;
}

h1 {
    color: var(--aqua);
}

.nav {
    vertical-align: middle;
}

.nav a {
    color: var(--aqua);
    font-weight: bold;
    margin-right: 10px;
    text-decoration-thickness: 2px;
}

.header-img img {
    /* position:relative; */
    height: min-content;
    width: 100%;
    margin-bottom: 20px;
}

.portfolio {
    display: flex;
    flex-direction: row;
 
    
    color: var(--navy);
    
}

.column-split {
    background-color: var(--navy);
    
}

.portfolio {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    color: var(--navy);
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    /* width: 20% */
}

.port-header {
    color: var(--navy);
    font-size: 16px;
    /* background-color: lightseagreen; */
    padding: 5px;
    width: 20%;
}

.bio, .work, .contact, .resume {
    display: flex;
    flex-direction: row;
}

.big-tile {
    width: 100%;
    margin-bottom: 10px;
    
}

.small-tile {
    
    width: 50%;
  
    
    /* align-items: flex-start; */
    /* flex-direction: row; */
    /* margin-left: 5px; */
}

.big-tile, .small-tile {
    border: 4px;
    border-style: solid;
    border-color: var(--aqua);
}